* {
    margin: 0 auto;
    padding: 0;
}

html {
    background-color: rgb(252, 252, 252);
}

.inner {
    /* width: 1098px;
    margin: 0 auto; */
}

.search {
    width: 10%;
}

header .menu {
    width: 70%;
    float: right;
}

header .list {
    list-style: none;
}

header .list li a {
    text-decoration: none;
    color: black;
    border-right: 2px solid black;
    display: block;
}

header .list li {
    width: auto;
    margin-top: 80px;
    padding: 5px 10px;
    float: left;
}

header img {
    width: 20%;
}

header {
    width: 100%;
    height: 135px;
    border-bottom: 5px solid red;
}

.wrapper {
    max-width: 1098px;
    margin: 0 auto;
}

aside {
    width: auto;
    height: 198px;
    border-bottom: 15px solid red;
}

main {
    width: auto;
    height: 607px;
}

.dangky {
    background-color: red;
    padding: 20px 0;
    display: flow-root;
}

.dangky-left {
    float: left;
    width: 38%;
    border: 2px dotted white;
}

.dangky-right {
    border: 2px dotted white;
    width: 58%;
    float: right;
}

.a {
    border: 2px dotted white;
}

.thongtin {
    background-color: white;
}

.lichkhaigiang {
    background-color: red;
}

.tintuc {
    background-color: white;
}

. footer {
    width: auto;
    height: 58px;
    background-color: #A9A9A9;
}