* {
    margin: 0 auto;
    padding: 0;
}

.row {
    max-width: 1000px;
    margin: 0 auto!important;
}

html {
    background-color: white;
}

.container-fluid {
    max-width: 1349px;
    background-color: white;
    padding: 0!important;
}

#header {
    border-bottom: 4px solid rgb(205, 52, 56);
    background-color: white;
    height: 76px;
}

.col-md-3 {
    color: red;
}

#curriculum {
    height: 500px;
    background-color: rgb(205, 52, 56);
}

#curriculum form {
    padding-top: 1em;
    padding-bottom: 1em;
}

#curriculum form label {
    margin: 10px 5px;
}

#curriculum .card {
    max-width: 400px;
    text-align: center;
    margin: 15px 0px;
    padding-top: 2em;
    float: left;
    height: auto;
    border: none;
    color: white;
    padding-bottom: 2em;
    background-color: rgb(205, 52, 56);
}

#curriculum .card h4 {
    font-size: 18px;
    text-transform: capitalize;
}

#curriculum .card img {
    width: 115px;
    height: 115px;
    padding: 5px;
    border: 1px dashed white;
}

.curriculum-left {
    margin-top: 20px;
    border: 1px dotted white;
}

.curriculum-right {
    margin-top: 20px;
    border: 1px dotted white;
}

.menu .list li a {
    text-decoration: none;
    color: rgb(20, 20, 20);
    border-right: 1px solid rgb(26, 25, 25);
    display: block;
    padding-right: 5px;
    padding-left: 5px;
}

.menu .list li {
    max-width: 900px;
    margin: 0 auto;
    padding: 32px 0;
    float: left;
}

.menu .list {
    list-style: none;
}

#Calendar {
    background-color: rgb(205, 52, 56);
}

.carousel-control-prev,
.carousel-control-next {
    height: 10px;
    width: 10%;
}

.dropdown .button-course {
    text-align: left;
    background-color: #fffefd;
    color: black;
}

button .register {
    background: no-repeat 24% center #f89800 scroll;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 12px 9px;
    text-align: center;
    width: 100%;
    border-radius: 0;
    border: 0;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.sign {
    color: white;
    padding-left: 75px;
    padding-top: 15px;
    border-bottom: 1px dotted white;
}

.parent-progame {
    border-bottom: 1px dotted white;
}

.chill-progame {
    color: white;
    padding-left: 105px;
    padding-top: 15px;
}

.control-progame {
    margin-top: -35px;
    float: right;
    background-color: hidden;
}