* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #c8dae2;
}

body {
    max-width: 380px;
    width: 98%;
    color: aliceblue;
    margin: 150px;
    margin-left: 35%;
}

form {
    background-color: white;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
}

form h3 {
    text-align: center;
}

form label {
    width: 30%;
    float: left;
}

br {
    clear: both;
}

#email,
#password {
    width: 64%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid rgb(31, 49, 124);
}

#btn-login {
    margin-left: 30%;
    width: 80px;
    padding: 5px;
    border: 1px solid rgb(31, 49, 124);
    border-radius: 3px;
}

#btn-register {
    width: 80px;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid rgb(31, 49, 124);
    border-radius: 3px;
}