/* the styles for the elements */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
    border: 3px solid #931420;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #fffded;
}

.shadow {
    text-shadow: 2px 2px 5px #800000;
}


/* the styles for the header */

header img {
    float: left;
}


/* the styles for the main content */

main {
    clear: left;
    padding: 0 30px;
}

main h1 {
    font-size: 170%;
    border: 3px double #800000;
    margin-bottom: .75em;
    border-radius: 10px;
    box-shadow: 5px 5px;
    padding: .5em 0 .5em .2em;
    background-color: white;
}

main h2 {
    color: red;
    font-size: 20px;
    padding-top: .5em;
    padding-bottom: .25em;
}

main h3 {
    font-size: 18px;
    padding-bottom: .25em;
}

main img {
    padding-bottom: 1em;
}

main p {
    padding-bottom: .5em;
}

main ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
}

main li {
    padding-bottom: .35em;
}

header h1 {
    color: #800000;
}

header h2 {
    font-size: 18px;
    color: black;
}

header img {
    padding: 0 30px;
}

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: linear-gradient(45deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

footer {
    border-top: 3px solid #931420;
    background-color: #931420;
    color: white;
}

html {
    background-color: #fffded;
}

footer p {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

#nav_menu {
    list-style: none;
    position: relative;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    display: block;
    clear: both;
}