body {
    width: 800px;
    margin: 50px auto;
}
.title1 {
    color: blue;
    border: 2px solid red;
    padding: 20px;
    background-color: aqua;
} 
#main1 {
    color: red;
    border: 3px solid green;
    margin: 20px 0px;
    height: 400px;
}
.blog {
    width: 380px;
    border: 1px solid blue;
    float: left;
    margin: 10px;
    height: 100px;
}