header {
    background-color: #CA3438;
    height: 300px;
}
.container {
    width: 90%;
    max-width: 1024px;
    min-width: 400px;
    margin: 0 auto;
}
.left {
    width: 30%;
    height: 300px;
    border: 1px dotted #ffff;
    float: left;
    margin-top: 50px;
}
.right {
    width: 70%;
    height: 300px;
    border: 1px dotted #ffff;
    float: right;
    margin-top: 50px;
}
header .right p {
    text-indent: 2em;
}
header .right h3 {
    text-align: center;
}
header .left a {
    text-decoration: none;
    color: aqua;
}
header .left h2 {
    text-align: center;
    text-shadow: -2px -2px 4px rgb(234,238,18);
}
header .left a:visited {
    color: rgb(231,231,243)
}

