    * {
        margin: 0;
        padding: 0;
    }
    
    html {
        background-color: #d4e0e6;
    }
    
    .container {
        width: 1349px;
        height: 520px;
    }
    
    body {
        width: 980px;
        height: 536px;
    }
    
    img {
        width: 301px;
        height: 106px;
        margin-left: -30px;
        margin-bottom: -15px
    }
    
    h2 {
        font-size: 28px;
        font-weight: normal;
        line-height: 32px;
        width: 500px;
    }
    
    .blog {
        margin: 0 auto;
        position: relative;
        max-width: 980px;
        width: 100%;
        padding: 150px;
        display: flex;
    }
    
    .blog-left {
        max-width: 548px;
        max-height: 181px;
        width: 100%;
        padding-top: 50px;
        margin: 0;
        height: 100%;
    }
    
    .blog-right {
        max-width: 396px;
        max-height: 315px;
        width: 100%;
        height: 100%;
        float: right;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        border-radius: 5px;
        padding-bottom: 24px;
        padding-top: 10px;
        border: 0;
        align-items: center;
        margin: 0;
        text-align: center;
        background-color: white;
    }
    
    br {
        clear: both;
    }
    
    .width {
        font-size: 17px;
        padding: 14px 16px;
        width: 330px;
        margin: 8px 16px;
        border: 1px solid rgb(191, 191, 214);
        border-radius: 6px;
    }
    
    .text {
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-size: 28px;
        font-weight: normal;
    }
    
    #dangnhap {
        color: rgb(255, 255, 255);
        border-radius: 6px;
        font-size: 20px;
        line-height: 48px;
        padding: 0 16px;
        width: 360px;
        background-color: #5BA8E9;
        border: 1px solid rgb(191, 191, 214);
    }
    
    .quenmatkhau {
        color: #1877f2;
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    
    .quenmatkhau a {
        text-decoration: none;
    }
    
    .quenmatkhau a:hover {
        text-decoration: underline;
    }
    
    .line {
        align-items: center;
        border-bottom: 1px solid #b9bcc0;
        display: flex;
        margin: 20px 16px;
        text-align: center;
        width: 360px;
        height: 1px;
    }
    
    .taotaikhoan {
        border: 1px solid #42b72a;
        border-radius: 6px;
        font-size: 17px;
        line-height: 48px;
        padding: 0 16px;
        max-width: 178px;
        margin: 0 auto;
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        height: 48px;
        background-color: #42b72a;
    }
    
    .taotaikhoan a {
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        color: white;
    }
    
    .createpage {
        border-top: none;
        color: #1c1e21;
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding-top: 70px;
    }
    
    .createpage a {
        text-decoration: none;
        color: #1c1e21;
    }
    
    footer {
        background-color: white;
    }
    
    .language {
        max-width: 900px;
        margin: 0 auto;
        border-bottom: 1px solid #8a8d91;
    }
    
    .language ul {
        display: inline-flex;
    }
    
    .language ul li {
        margin: 5px;
        list-style: none;
    }
    
    .language ul li a {
        text-decoration: none;
        color: #8a8d91;
    }
    
    .content ul li a {
        color: #8a8d91;
    }
    
    .underline ul a:hover {
        text-decoration: underline;
    }
    
    .content.underline {
        max-width: 900px;
        margin: 0 auto;
    }
    
    .content ul {
        display: flex;
        flex-wrap: wrap;
    }
    
    .content ul li {
        margin: 5px;
        list-style: none;
    }
    
    .content ul li a {
        text-decoration: none;
        color: #8a8d91;
    }