* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    background: linear-gradient( rgb(255, 255, 255) 0%, rgb(144, 197, 224), 50%, rgb(13, 201, 230) 100% );
}
.container {
    max-width: 300px;
    width: 100%;
    margin: 120px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgb(16, 185, 211);
}
.container header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.container .inputform {
    display: flex;
    width: 100%;
    height: 30px;
    
}
.container .inputform input {
    width: 86%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 20px;
}
.container .inputform button {
    width: 35px;
    height: 108%;
    background-color: rgb(13, 112, 194);
    border: 1px solid rgb(13, 112, 194);
    margin-left: 5px;
    color: white;
    border-radius: 4px;
}
.container h3 {
    margin-top: 10px;
}
.container .listtodo  {
    margin-top: 10px;
    align-items: center;
    max-height: 170px;
    overflow-y: auto;
}
.container .listtodo li {
    list-style: none;
    height: 30px;
    line-height: 30px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    padding: 0 20px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.container .listtodo li span {
    position: absolute;
    right: -40px;
    background-color: rgb(205, 41, 118);
    width: 35px;
    text-align: center;
    color: white;
    border-radius: 0 3px 3px 0;
    transition: all 1s ease;
}
.container .listtodo li:hover span {
    right: 0px;
}
.footer {
    text-align: center;
}
.footer button {
    height: 30px;
    margin-top: 10px;
    background-color: rgb(13, 112, 194);
    border: 1px solid white;
    border-radius: 3px;
    width: 80px;
    color: white;
}