.vertica_menu #nav_list ul {
    list-style: none;
    margin-left: 1.23em;
    margin-bottom: 1.5em;
}

.vertical_menu #nav_list ul li {
    width: 200px;
    margin-bottom: .5em;
    border: 2px solid red;
}

.vertical_menu #nav_list ul li a {
    display: block;
    padding: .5em 0 .5em 1.5em;
    text-decoration: none;
    background-color: aqua;
    color: black;
}

.vertical_menu #nav_list ul li a.current {
    background-color: bisque;
}

.horizontal_menu #nav_list ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1.5em;
    text-align: center;
    position: relative;
    padding: 0;
}

.horizontal_menu #nav_list ul li {
    float: left;
}

.horizontal_menu #nav_list ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blueviolet;
    color: antiquewhite;
    font-weight: bold;
    border-right: 2px solid red;
}

.horizontal_menu #nav_list ul li a.last_item {
    border-right: hidden;
}

.horizontal_menu #nav_list ul li a:hover {
    color: black;
    font-style: inherit;
}

.horizontal_menu #nav_list ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

.horizontal_menu #nav_list ul ul li {
    float: none;
    position: relative;
}

.horizontal_menu #nav_list ul li:hover>ul {
    display: block;
}

.horizontal_menu #nav_list>ul::after {
    content: "";
    display: block;
    clear: both;
}

.horizontal_menu #nav_list ul li ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blueviolet;
    color: antiquewhite;
    font-weight: bold;
    border-bottom: 2px solid red;
}

.horizontal_menu {
    float: left;
    padding-left: 50px;
}

.horizontal_menu #nav_list ul ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
}

.horizontal_menu #nav_list ul li ul li:hover>ul {
    display: block;
}

.horizontal_menu #nav_list ul li ul li ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: rgb(170, 107, 121);
    color: rgb(51, 99, 47);
    font-weight: bold;
    border-bottom: 2px solid rgb(55, 19, 97);
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 480px) {
    #mobile_menu {
        display: block;
    }
    #nav_list {
        display: none;
    }
}