body {
    width: 962px;
    margin: 15px auto;
}

header {
    width: 962px;
    height: 300px;
    border: 2px solid red;
}

main {
    margin-top: 20px;
    clear: both;
    width: 962px;
    height: 300px;
    border: 1px solid red;
    padding: 10px;
}

.block1 {
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    margin-right: 10px;
    float: left;
}

.block2 {
    width: 460px;
    height: 200px;
    border: 1px solid blue;
    float: left;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    header {
        height: 1300px;
    }
    .block1 {
        width: 96%;
        height: 200px;
        border: 1px solid blue;
        margin-right: 10px;
        float: left;
    }
}