* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    background-image: url(../images/bg-header.jpg);
}

#header .menu {
    text-align: center;
    margin-left: 315px;
    margin-top: 40px;
}

#header .menu .list li {
    float: left;
    padding-right: 48px;
    list-style-type: none;
}

#header .menu .list li a {
    text-decoration: none;
}

.register form {
    text-align: center;
}

.register form label {}

.footer {
    height: 100px;
}