* {
    margin: 0;
    padding: 0;
}

label {
    float: left;
    width: 10em;
    text-align: right;
}

input {
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 10em;
}

span {
    color: red;
}