* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    background: linear-gradient(120deg, #3ca7ee, #9b408f);
}
.container {
    max-width: 400px;
    width: 100%;
    margin: 120px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
   
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5)
}
.container header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.container .inputform {
    width: 100%;
    height: 100%;
   
}

.container .inputform span {
    background: rgb(110, 34, 34);
    height: 5px;
    width: 100%;
}
.container .inputform input {
    width: 86%;
    height: 30px;
  
    border: none;
    margin-top: 60px;
}
.container .inputform button {
    width: 86%;
    height: 40px;
    background-color: rgb(13, 112, 194);
    border: 1px solid rgb(13, 112, 194);
    margin-left: 5px;
    color: white;
    border-radius: 4px;
    margin-top: 20px;
    border-radius: 10px;
}
.footer button {
    height: 30px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 3px;
    width: 80px;
    color: #3ca7ee;
}