* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

#header img {
    width: 125px;
    height: 60px;
    margin: 80px;
}

.menu .list li {
    text-decoration: none;
    display: block;
    float: left;
    margin: 10px;
}

.menu .list ul {
    margin-top: 90px;
    margin-left: -50px;
}

.menu .list li a {
    color: black;
}

.blog {
    text-align: center;
}

.blog img {
    width: 100%;
    height: 400px;
}

.text {
    position: absolute;
    text-align: center;
    top: 210px;
    left: 375px;
}

.text .shop {
    border: 1px solid black;
    width: 120px;
    margin: 5px 125px;
    text-align: center;
    height: 30px;
    background-color: black;
}

.text .shop a {
    text-decoration: none;
    color: white;
}