* {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container .product-items {
    display: flex;
    background-color: #ddd;
    padding: 20px;
    flex-wrap: wrap;
    
}
.container .product-item {
    width: 20%;
    background-color: #ddd;
    text-align: center;
}
.container .product-item-img {
    width: 100%;
    
    height: 100%;
    max-height: 259px;
    max-width: 194px;
    margin-bottom: 20px;
}
.container .product-item img {
    width: 100%;
    height: 100%;
}


.cart {
    width: 40%;
    text-align: center;
    background-color: rgb(221, 253, 242);
    margin: auto;
}