* {
    margin: 0;
    padding: 0;
}

header {
    width: 800px;
    margin: 50px auto;
    border: 2px solid red;
    height: 400px;
    padding: 20px;
    background-color: aliceblue;
}

.bloga {
    width: 246px;
    height: 346px;
    border: 2px solid blue;
    padding: 20px;
    margin-right: 10px;
    float: left;
}

.blogb {
    width: 446px;
    height: 346px;
    border: 2px solid blue;
    padding: 20px;
    margin-left: 10px;
    float: left;
}

.b1 {
    width: 145px;
    border: 2px dotted rgb(33, 119, 37);
    margin-right: 10px;
    float: left;
    height: 159px;
    border-radius: 50%;
    padding: 7px;
}

.b1 img {
    width: 145px;
    height: 145px;
    border-radius: 50%;
}

.b2 {
    width: 209px;
    border: 2px solid rgb(33, 119, 37);
    margin-left: 10px;
    float: left;
    height: 159px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 3px 3px 4px 4px black;
    background-color: seashell
}

.b3 {
    width: 442px;
    border: 2px solid rgb(33, 119, 37);
    clear: both;
    height: 159px;
    float: left;
    margin-top: 20px;
    background: linear-gradient(45deg, red 0%, white 50%, blue 100%);
}

html {
    background-image: url(./background-dep-1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 90% 90%;
}