body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: white;
    width: 510px;
    margin: 0 auto;
    
	padding: 0 2em 1em;
}


label {
    float: left;
    width: 8em;
}
input {
    width: 20em;
    margin-left: 1em;
    margin-bottom: 1em;
}

    

#message {
    font-weight: bold;
    color: red;
}