* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
h2 {
    padding-top: 30px;
    padding-bottom:30px;
}
p {
    padding-top: 10px;
    padding-bottom:10px;
}
