.list-images {
    display: none;
}

.container {
    width: 800px;
    margin: 0 auto;
}

main {
    width: 100%;
    position: relative;
    height: 300px;
    margin: 0 auto;
}

.image-show {
    width: 100%;
}

.image-show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    color: antiquewhite;
}

.pre {
    left: -10px;
}

.next {
    right: -10px;
}

.pre:hover {
    color: aquamarine;
    background-color: darkgray;
    border-radius: 3px;
}

.next:hover {
    color: aquamarine;
    background-color: darkgray;
    border-radius: 3px;
}